In [1]:
x = int(input("Please enter an integer: "))

Please enter an integer: 17

In [3]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

In [4]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [5]:
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 6:
        words.insert(0, w)
words

['defenestrate', 'cat', 'window', 'defenestrate']

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [8]:
print(range(10))

range(0, 10)

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
        else:
            # loop fell through without finding a factor
            print(n, 'is a prime number')
            break

3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 is a prime number

In [20]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [5]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while b < n:
        print(b, end=' ')
        a, b = b, a+b
    print()
# Now call the function we just defined:
fib(2000)

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [18]:
def power(n):
    a, b, c = 1, 1.1, 0.05
    for i in range(n):
        print (b)
        a, b, c = a+(b-c-a)/2, (a+(b-c-a)/2)*1.1, ((a+(b-c-a)/2)*1.1-1)/2
power(50)

1.1
1.1275
1.1488125000000002
1.1653296875
1.1781305078125
1.1880511435546874
1.1957396362548829
1.2016982180975344
1.206316119025589
1.2098949922448314
1.2126686189897444
1.214818179717052
1.2164840892807154
1.2177751691925545
1.21877575612423
1.2195512109962783
1.2201521885221156
1.2206179461046398
1.2209789082310958
1.221258653879099
1.2214754567563018
1.2216434789861341
1.221773696214254
1.2218746145660468
1.2219528262886865
1.222013440373732
1.2220604162896422
1.2220968226244728
1.2221250375339665
1.2221469040888242
1.2221638506688388
1.22217698426835
1.2221871628079715
1.2221950511761779
1.222201164661538
1.222205902612692
1.2222095745248363
1.2222124202567481
1.2222146256989797
1.2222163349167094
1.22221765956045
1.2222186861593485
1.2222194817734953
1.2222200983744589
1.2222205762402056
1.2222209465861595
1.2222212336042737
1.2222214560433122
1.222221628433567
1.2222217620360143

In [28]:
a = [66.25, 333, 333, 1, 1234.5]
print(a.count(333), a.count(66.25), a.count('x'))

2 1 0

In [29]:
a.insert(2, -1)
a.append(333)
a

[66.25, 333, -1, 333, 1, 1234.5, 333]

In [30]:
a.index(333)

1

In [31]:
a.remove(333)
a

[66.25, -1, 333, 1, 1234.5, 333]

In [34]:
a.reverse()
a

[333, 1234.5, 1, 333, -1, 66.25]

In [35]:
a.sort()
a

[-1, 1, 66.25, 333, 333, 1234.5]

In [36]:
a.pop()
a

[-1, 1, 66.25, 333, 333]

In [37]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [38]:
stack.pop()

7

In [39]:
stack

[3, 4, 5, 6]

In [40]:
stack.pop()

6

In [41]:
stack.pop()

5

In [42]:
stack

[3, 4]

In [43]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [44]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [45]:
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

In [46]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [52]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [53]:
vec = [-4, -2, 0, 2, 4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [54]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [55]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [57]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [58]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [59]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-59-a4841c5cdd7d>, line 1)

In [61]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [63]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [64]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [65]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [67]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [68]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [72]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [73]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [74]:
del a[:]
a

[]

In [77]:
del a

NameError: name 'a' is not defined

In [79]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [80]:
t

(12345, 54321, 'hello!')

In [82]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [83]:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [84]:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [86]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [87]:
len(singleton)

1

In [88]:
singleton

('hello',)

In [90]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'orange', 'apple', 'pear', 'banana'}

In [91]:
'orange' in basket                 # fast membership testing

True

In [92]:
'crabgrass' in basket

False

In [94]:
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [95]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [96]:
a | b                              # letters in either a or b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [97]:
a & b                              # letters in both a and b

{'a', 'c'}

In [98]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [100]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [101]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [102]:
tel['jack']

4098

In [103]:
del tel['sape']
tel

{'guido': 4127, 'jack': 4098}

In [104]:
tel['irv'] = 4127
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [105]:
list(tel.keys())

['jack', 'guido', 'irv']

In [106]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [107]:
 'guido' in tel

True

In [108]:
'jack' not in tel

False

In [109]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [110]:
 {x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [111]:
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [113]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [114]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [115]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [116]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [117]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [118]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 6:
        words.insert(0, w)
words

['defenestrate', 'cat', 'window', 'defenestrate']

In [119]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [120]:
(1, 2, 3)              < (1, 2, 4)

True

In [121]:
[1, 2, 3]              < [1, 2, 4]

True

In [122]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [123]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [124]:
(1, 2)                 < (1, 2, -1)

True

In [125]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [126]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True